langchain>=0.3.22
langchain-community>=0.3.20
langchain-core>=0.3.49
langchain-mongodb>=0.6.1
langchain-ollama>=0.3.0
langchain-text-splitters>=0.3.7
langgraph>=0.3.30
langgraph-checkpoint>=2.0.24
langgraph-checkpoint-mongodb>=0.1.3
langgraph-checkpoint-postgres>=2.0.19
langgraph-checkpoint-sqlite>=2.0.5
langgraph-cli>=0.1.89
langgraph-prebuilt>=0.1.8
langgraph-sdk>=0.1.61
langsmith>=0.3.4

tongyi
dashscope
openai
chroma
faiss-cpu


websocket-client==1.8.0
websockets==15.0.1
uvicorn
fastapi
tqdm
async
pytz
kafka-python
pydantic==2.10.6
pymongo==4.11.3